@import './utilities/variables';
* {
    box-sizing: border-box;  
  }
body{
    margin: 0;
    color: $color-primary;
    background-color: $bg-primary;
    font-family: $font-primary;
    height: 100%;
}
html{
    height: 100%;
}

.logo{
    text-align: center;
    font-family: $font-secondary;
    // color: $color-primary;
    font-size: 1.5rem;
    padding: 1em;
    // h1{
    //     text-align: center;
    //     font-family: $font-secondary;
    //     color: $color-primary;
    //     box-sizing: border-box;
    // }
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 100%;
    padding: 0.2em 0.5em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
time{
    font-size: 1rem;
    font-family: 'Questrial', sans-serif;
}
section{
    border-bottom: 1px solid black;
}
button{
    background-color: $bg-primary;
    border: 2px solid black;
    box-shadow: -3px 3px black;
    margin-bottom: 2em;
    cursor: pointer;
    font-size: 0.8rem;
}
button:hover{
    background-color: $bg-primary;
    transition: background-color 1s ;

}
ul{
    padding: 0;
    li{
        list-style: none;
    }
}
a{
    text-decoration: none;
}
.shownav{
    display: none; 
    width: 100%; 
    height: 100vh;
    background-color: blanchedalmond; 
    float: left;
    position: absolute;
    text-align: center;
}
.news-container{
    padding: 0.5em;
    width: 90%;
    margin: 1em auto;
}
.news-headline{
    font-size: 2rem;
    font-weight: bolder;
    font-family: $font-primary;
    color: $color-primary;
}
.news-img{
    width: 100%;
}
.news-content{
    font-family: $font-primary;
    color: rgb(104, 99, 99);
    margin-top: 0.2em;
}
.read-more-btn{
    background-color: $btn-color;
    margin-top: 1em;
    padding: 0.5em;
    text-transform: uppercase;
}
#menu{
    cursor: pointer;
}