// Background Color
$bg-primary: #F5F5F5;

// Text Colors
$color-primary: black;

// Font Family
$font-primary: 'Dosis', sans-serif;
$font-secondary: 'Press Start 2P', cursive; 

// Button Color
$btn-color: #fabd02;